/* Styles globaux */
.App {
  text-align: center;
}

.App-header {
  background-color: #301202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles pour le menu */
nav {
  background-color: #151515;
  padding: 1em;
  border-radius: 10px;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

/* Styles pour les boutons */
button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline: none;
}

/* Responsive design */
@media (max-width: 768px) {
  nav ul {
    text-align: center;
  }

  .App-header {
    flex-direction: column;
  }
}

/* Styles supplémentaires pour les états souscrits */
.souscrit {
  color: #4CAF50;
}
